<div>
  <link href="./hero-content.css" rel="stylesheet" />
  <div class="hero-content-hero-content">
    <div class="hero-content-header-container">
      <div class="hero-content-header">
        <h1 class="hero-content-heading">
          <span>Welcome to Solar Georgia</span>
          <br />
        </h1>
      </div>
      <p class="hero-content-caption">
        <span>Providing Photovoltaic Power Plant Installation Services</span>
      </p>
    </div>
    <button class="hero-content-button button">
      <span>
        <span>See Portfolio</span>
        <br />
      </span>
    </button>
  </div>
</div>
