<div>
  <link href="./img-slider1.css" rel="stylesheet" />
  <div class="img-slider1-container">
    <img
      alt="image"
      src="public/playground_assets/experience-1500h.png"
      class="img-slider1-image"
    />
    <div class="img-slider1-slide1">
      <div class="img-slider1-container1">
        <div class="img-slider1-container2">
          <svg viewBox="0 0 1024 1024" class="img-slider1-icon">
            <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
          </svg>
        </div>
        <div class="img-slider1-container3">
          <svg viewBox="0 0 1024 1024" class="img-slider1-icon2">
            <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="img-slider1-container4"></div>
    <div class="img-slider1-container5"></div>
  </div>
</div>
