.-home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.-home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.-home-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.-home-navbar {
  width: 1586px;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.-home-branding {
  width: 120px;
  position: relative;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.-home-desktop-menu {
  display: flex;
}
.-home-nav {
  flex: 0 0 auto;
  color: #fffdfd;
  display: flex;
  flex-direction: row;
}
.-home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.-home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.-home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.-home-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.-home-text05 {
  margin-left: var(--dl-space-space-twounits);
}
.-home-burger-menu {
  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}
.-home-hamburger {
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  pointer-events: none;
  justify-content: space-between;
  background-color: #0000F5;
}
.-home-hamburger:hover {
  opacity: .5;
}
.-home-icon {
  width: 60px;
  object-fit: cover;
}
.-home-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.-home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.-home-image {
  height: 2rem;
}
.-home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.-home-icon01 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.-home-login {
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon-group {
  fill: var(--dl-color-gray-white);
  display: flex;
}
.-home-icon03 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon05 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon07 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-home-navbar-interactive {
  color: var(--dl-color-gray-black);
  width: 1122px;
  display: none;
  z-index: 1000;
  position: relative;
  max-width: MaxWidth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.-home-logo {
  width: 120px;
  height: 2rem;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.-home-burger-menu1 {
  display: none;
  align-items: center;
  justify-content: center;
}
.-home-icon09 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.-home-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.-home-image01 {
  height: 2rem;
}
.-home-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.-home-icon11 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-home-nav4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.-home-container04 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.-home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon-group1 {
  display: flex;
}
.-home-icon13 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon15 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-home-icon17 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-home-note {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.-home-caption {
  color: #7C7C80;
  font-size: 40px;
  max-width: 800px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-right: 158px;
}
.-home-statistics {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.-home-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: row;
  justify-content: flex-start;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.-home-stat {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
}
.-home-header {
  color: rgb(255, 255, 255);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.-home-caption1 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.-home-stat1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
}
.-home-header01 {
  color: rgb(255, 255, 255);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.-home-caption2 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.-home-stat2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.-home-header02 {
  color: rgb(255, 255, 255);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.-home-caption3 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.-home-slider {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.-home-get-started {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.-home-header-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 100;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.-home-header03 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.-home-heading {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.-home-caption4 {
  color: rgb(124, 124, 128);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.-home-button {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.-home-button1 {
  background-color: #0463ca;
}
.-home-image02 {
  top: 0px;
  right: 0px;
  width: 720px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.-home-gallery {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.-home-container05 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-container06 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.-home-container07 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-container08 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.-home-container10 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-image03 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.-home-container11 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.-home-container11:hover {
  opacity: 1;
}
.-home-text18 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.-home-text19 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.-home-gallery-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.-home-container12:hover {
  opacity: 1;
}
.-home-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-text20 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.-home-text21 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.-home-text22 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.-home-image04 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.-home-gallery-card2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.-home-container14:hover {
  opacity: 1;
}
.-home-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.-home-text23 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.-home-text24 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.-home-text25 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.-home-image05 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.-home-objectives {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.-home-content01 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-top-width: 1px;
}
.-home-text26 {
  color: #7C7C80;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.-home-objectives-list {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.-home-text27 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.-home-text28 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.-home-text29 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.-home-text30 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.-home-text31 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.-home-text32 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.-home-growth {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.-home-content02 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-header04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-header05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.-home-text34 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.-home-caption5 {
  color: #7C7C80;
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.-home-caption6 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
  border-color: #313133;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.-home-testimonial {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-content03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-text36 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.-home-text37 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 5%;
}
.-home-information {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-author {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: #7C7C80;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  border-right-width: 1px;
}
.-home-icon19 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.-home-name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.-home-from {
  width: 125px;
  object-fit: cover;
}
.-home-images {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.-home-square {
  top: 64px;
  right: -35px;
  width: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0463ca;
}
.-home-image06 {
  width: 640px;
  z-index: 100;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
}
.-home-experience {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.-home-images1 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
.-home-square1 {
  left: -35px;
  width: 180px;
  bottom: -35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0000FF;
}
.-home-image07 {
  width: 575px;
  z-index: 100;
  object-fit: cover;
}
.-home-content04 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-header06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.-home-header-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-header07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-heading2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.-home-text39 {
  font-family: Playfair Display;
}
.-home-caption7 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.-home-checkmarks {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-check {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-mark {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.-home-icon20 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.-home-text40 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.-home-check1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-mark1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.-home-icon22 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.-home-text41 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.-home-check2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-mark2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.-home-icon24 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.-home-text42 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.-home-check3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-mark3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.-home-icon26 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.-home-text43 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.-home-testimonial1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-content05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.-home-text44 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.-home-text45 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 5%;
}
.-home-information1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.-home-author1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: #7C7C80;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  border-right-width: 1px;
}
.-home-icon28 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.-home-name1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.-home-from1 {
  width: 100px;
  object-fit: cover;
}
.-home-data {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.-home-header-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-header08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-row {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.-home-heading3 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.-home-caption8 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.-home-content06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.-home-image08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-image09 {
  width: 440px;
  object-fit: cover;
}
.-home-accordion {
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.-home-header09 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.-home-header10 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.-home-header11 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.-home-header12 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.-home-faq {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.-home-header13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.-home-heading4 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.-home-text50 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.-home-content15 {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.-home-column {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.-home-element04 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header14 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content16 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-element05 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header15 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content17 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-element06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header16 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content18 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-column1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.-home-element07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header17 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content19 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-element08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header18 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content20 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-element09 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.-home-header19 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.-home-content21 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.-home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.-home-content22 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.-home-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.-home-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-image10 {
  width: 120px;
  object-fit: cover;
}
.-home-text52 {
  color: #7C7C80;
  line-height: 24px;
}
.-home-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.-home-column2 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-header20 {
  font-size: 24px;
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.-home-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-navlink {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink:hover {
  opacity: .5;
}
.-home-navlink01 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink01:hover {
  opacity: .5;
}
.-home-navlink02 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink02:hover {
  opacity: .5;
}
.-home-navlink03 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink03:hover {
  opacity: .5;
}
.-home-text53:hover {
  opacity: .5;
}
.-home-column3 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-header21 {
  font-size: 24px;
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.-home-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-navlink04 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink04:hover {
  opacity: .5;
}
.-home-navlink05 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink05:hover {
  opacity: .5;
}
.-home-navlink06 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink06:hover {
  opacity: .5;
}
.-home-navlink07 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink07:hover {
  opacity: .5;
}
.-home-navlink08 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink08:hover {
  opacity: .5;
}
.-home-navlink09 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink09:hover {
  opacity: .5;
}
.-home-navlink10 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink10:hover {
  opacity: .5;
}
.-home-column4 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-header22 {
  font-size: 24px;
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.-home-list2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-home-navlink11 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink11:hover {
  opacity: .5;
}
.-home-navlink12 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink12:hover {
  opacity: .5;
}
.-home-navlink13 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink13:hover {
  opacity: .5;
}
.-home-navlink14 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink14:hover {
  opacity: .5;
}
.-home-navlink15 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.-home-navlink15:hover {
  opacity: .5;
}
.-home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.-home-text55 {
  color: #7C7C80;
  font-size: 14px;
  line-height: 21px;
}
.-home-button2 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.-home-image11 {
  width: 21px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .-home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .-home-content {
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .-home-stat {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .-home-stat1 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .-home-stat2 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .-home-container10 {
    width: 100%;
  }
  .-home-content01 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .-home-objectives-list {
    padding-right: 0px;
  }
  .-home-objective1 {
    flex: 1;
  }
  .-home-objective2 {
    flex: 1;
  }
  .-home-growth {
    flex-direction: column;
  }
  .-home-testimonial {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-text37 {
    max-width: 560px;
  }
  .-home-images {
    padding-top: 0px;
  }
  .-home-square {
    top: -20px;
    right: -20px;
  }
  .-home-image06 {
    margin-top: 0px;
  }
  .-home-experience {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .-home-heading3 {
    color: rgb(255, 255, 255);
  }
  .-home-text47 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .-home-content06 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .-home-header09 {
    font-size: 24px;
  }
  .-home-header10 {
    font-size: 24px;
  }
  .-home-header11 {
    font-size: 24px;
  }
  .-home-header12 {
    font-size: 24px;
  }
  .-home-faq {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .-home-content15 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .-home-column {
    max-width: 100%;
  }
  .-home-header14 {
    font-size: 24px;
  }
  .-home-content16 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-header15 {
    font-size: 24px;
  }
  .-home-content17 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-header16 {
    font-size: 24px;
  }
  .-home-content18 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-column1 {
    max-width: 100%;
  }
  .-home-header17 {
    font-size: 24px;
  }
  .-home-content19 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-header18 {
    font-size: 24px;
  }
  .-home-content20 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-header19 {
    font-size: 24px;
  }
  .-home-content21 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-content22 {
    border-top-width: 0px;
  }
  .-home-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .-home-branding1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .-home-desktop-menu {
    display: none;
  }
  .-home-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .-home-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .-home-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .-home-text04 {
    margin-left: var(--dl-space-space-unit);
  }
  .-home-text05 {
    margin-left: var(--dl-space-space-unit);
  }
  .-home-burger-menu {
    display: flex;
  }
  .-home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .-home-burger-menu1 {
    display: flex;
  }
  .-home-note {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .-home-caption {
    font-size: 18px;
    max-width: 90%;
    line-height: 23px;
    margin-right: 0px;
  }
  .-home-statistics {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-stat {
    gap: var(--dl-space-space-unit);
  }
  .-home-header {
    font-size: 36px;
    line-height: 42px;
  }
  .-home-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-stat1 {
    gap: var(--dl-space-space-unit);
  }
  .-home-header01 {
    font-size: 36px;
    line-height: 42px;
  }
  .-home-caption2 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-stat2 {
    gap: var(--dl-space-space-unit);
  }
  .-home-header02 {
    font-size: 36px;
    line-height: 42px;
  }
  .-home-caption3 {
    font-size: 14px;
    line-height: 21px;
  }
  .-home-slider {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-get-started {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-heading {
    font-size: 36px;
    line-height: 42px;
  }
  .-home-caption4 {
    font-size: 16px;
    line-height: 24px;
  }
  .-home-image02 {
    width: 300px;
  }
  .-home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .-home-container06 {
    flex-direction: column;
  }
  .-home-gallery-card1 {
    flex-direction: column;
  }
  .-home-gallery-card2 {
    flex-direction: column;
  }
  .-home-objectives {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .-home-content01 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-objectives-list {
    width: 100%;
    flex-direction: column;
  }
  .-home-growth {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-content02 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .-home-header04 {
    gap: var(--dl-space-space-unit);
  }
  .-home-heading1 {
    font-size: 40px;
  }
  .-home-caption5 {
    font-size: 16px;
    line-height: 24px;
  }
  .-home-caption6 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .-home-text36 {
    font-size: 12px;
    line-height: 18px;
  }
  .-home-icon19 {
    width: 40px;
    height: 40px;
  }
  .-home-name {
    font-size: 12px;
    line-height: 18px;
  }
  .-home-from {
    width: auto;
    height: 100%;
  }
  .-home-image06 {
    width: 100%;
  }
  .-home-experience {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-square1 {
    left: -20px;
    width: 20%;
    bottom: -20px;
  }
  .-home-image07 {
    width: 100%;
  }
  .-home-content04 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .-home-header06 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .-home-header-container1 {
    gap: var(--dl-space-space-unit);
  }
  .-home-heading2 {
    font-size: 40px;
  }
  .-home-caption7 {
    font-size: 16px;
    line-height: 24px;
  }
  .-home-text44 {
    font-size: 12px;
    line-height: 18px;
  }
  .-home-icon28 {
    width: 40px;
    height: 40px;
  }
  .-home-name1 {
    font-size: 12px;
    line-height: 18px;
  }
  .-home-from1 {
    width: auto;
    height: 100%;
  }
  .-home-data {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-heading3 {
    font-size: 36px;
  }
  .-home-caption8 {
    font-size: 16px;
    line-height: 24px;
  }
  .-home-image08 {
    width: 100%;
  }
  .-home-image09 {
    width: 100%;
  }
  .-home-faq {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .-home-header13 {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .-home-heading4 {
    font-size: 36px;
  }
  .-home-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .-home-element04 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header14 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-element05 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header15 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-element06 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header16 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-column1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .-home-element07 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header17 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-element08 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header18 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-element09 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .-home-header19 {
    font-size: 16px;
    line-height: 20px;
  }
  .-home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .-home-links {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .-home-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .-home-burger-menu {
    padding: auto;
    pointer-events: auto;
  }
  .-home-hamburger {
    cursor: pointer;
    display: flex;
    opacity: 100;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .-home-icon {
    width: 30px;
    opacity: 100;
  }
  .-home-mobile-menu {
    padding: 16px;
  }
  .-home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .-home-mobile-menu1 {
    padding: 16px;
  }
  .-home-image02 {
    height: 400px;
  }
  .-home-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .-home-container05 {
    width: auto;
  }
  .-home-text18 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .-home-container12 {
    max-width: auto;
  }
  .-home-image04 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .-home-container14 {
    max-width: auto;
  }
  .-home-image05 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .-home-text26 {
    font-size: 12px;
    line-height: 18px;
  }
  .-home-text27 {
    font-size: 18px;
  }
  .-home-text29 {
    font-size: 18px;
  }
  .-home-text31 {
    font-size: 18px;
  }
  .-home-heading1 {
    font-size: 36px;
  }
  .-home-heading2 {
    color: rgb(255, 255, 255);
  }
  .-home-text39 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .-home-header13 {
    gap: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .-home-links {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .-home-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .-home-button2 {
    justify-content: center;
  }
}
