<div class="register-page-container">
  <div class="register-page-register-page"></div>
  <span class="register-page-text">
    <span class="register-page-text01">
      Already have an account?
      <span [innerHTML]="raw55n9"></span>
    </span>
    <span>Login Now</span>
  </span>
  <div class="register-page-registerwith">
    <div class="register-page-google-button">
      <div class="register-page-googleic">
        <div class="register-page-group123">
          <img
            alt="Vector6348"
            src="/assets/playground_assets/vector6348-o84n.svg"
            class="register-page-vector"
          />
          <img
            alt="Vector6348"
            src="/assets/playground_assets/vector6348-37as.svg"
            class="register-page-vector1"
          />
          <img
            alt="Vector6348"
            src="/assets/playground_assets/vector6348-ijqg.svg"
            class="register-page-vector2"
          />
          <img
            alt="Vector6348"
            src="/assets/playground_assets/vector6348-yq48.svg"
            class="register-page-vector3"
          />
        </div>
      </div>
    </div>
    <div class="register-page-facebook-button">
      <img
        alt="facebookic6348"
        src="/assets/playground_assets/facebookic6348-8nk.svg"
        class="register-page-facebookic"
      />
    </div>
    <div class="register-page-apple-button">
      <img
        alt="cibapple6348"
        src="/assets/playground_assets/cibapple6348-pjq7.svg"
        class="register-page-cibapple"
      />
    </div>
    <div class="register-page-registerwith1">
      <span class="register-page-text03"><span>Or Register with</span></span>
      <img
        alt="Line16348"
        src="/assets/playground_assets/line16348-t6f.svg"
        class="register-page-line1"
      />
      <img
        alt="Line26348"
        src="/assets/playground_assets/line26348-zyw.svg"
        class="register-page-line2"
      />
    </div>
  </div>
  <div class="register-page-register-button">
    <span class="register-page-text05"><span>Register</span></span>
  </div>
  <div class="register-page-confirmpassword-input">
    <span class="register-page-text07"><span>Confirm password</span></span>
  </div>
  <div class="register-page-password-input">
    <span class="register-page-text09"><span>Password</span></span>
  </div>
  <div class="register-page-email-input">
    <span class="register-page-text11"><span>Email</span></span>
  </div>
  <div class="register-page-username-input">
    <span class="register-page-text13"><span>Username</span></span>
  </div>
  <div class="register-page-text15">
    <span class="register-page-text16">
      <span>Hello! Register to get started</span>
    </span>
  </div>
  <div class="register-page-back">
    <img
      alt="backarrow6349"
      src="/assets/playground_assets/backarrow6349-kte3.svg"
      class="register-page-backarrow"
    />
  </div>
  <div class="register-page-statusbar">
    <div class="register-page-right-side">
      <div class="register-page-battery">
        <img
          alt="Rectangle6349"
          src="/assets/playground_assets/rectangle6349-18ic.svg"
          class="register-page-rectangle"
        />
        <img
          alt="CombinedShape6349"
          src="/assets/playground_assets/combinedshape6349-1x4i.svg"
          class="register-page-combined-shape"
        />
        <img
          alt="Rectangle6349"
          src="/assets/playground_assets/rectangle6349-214b.svg"
          class="register-page-rectangle1"
        />
      </div>
      <img
        alt="Wifi6349"
        src="/assets/playground_assets/wifi6349-xb5k.svg"
        class="register-page-wifi"
      />
      <img
        alt="MobileSignal6349"
        src="/assets/playground_assets/mobilesignal6349-kw1f.svg"
        class="register-page-mobile-signal"
      />
    </div>
    <div class="register-page-left-side">
      <img
        alt="TimeLightBase6349"
        src="/assets/playground_assets/timelightbase6349-4fye.svg"
        class="register-page-time-light-base"
      />
    </div>
  </div>
</div>
