.hero-content-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-content-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-content-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero-content-heading {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
.hero-content-caption {
  color: #ffffff;
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.hero-content-button {
  background-color: #0463ca;
}
@media(max-width: 991px) {
  .hero-content-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .hero-content-heading {
    font-size: 60px;
  }
}
@media(max-width: 479px) {
  .hero-content-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .hero-content-heading {
    font-size: 36px;
  }
  .hero-content-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .hero-content-button {
    text-align: center;
  }
}
