<div class="login-page-container">
  <span class="login-page-text">
    <span class="login-page-text01">
      Don’t have an account?
      <span [innerHTML]="rawew9x"></span>
    </span>
    <span>Register Now</span>
  </span>
  <div class="login-page-loginwith">
    <div class="login-page-google-button">
      <div class="login-page-googleic">
        <div class="login-page-group123">
          <img
            alt="Vector1327"
            src="/assets/playground_assets/vector1327-zfp1s.svg"
            class="login-page-vector"
          />
          <img
            alt="Vector1327"
            src="/assets/playground_assets/vector1327-qwq.svg"
            class="login-page-vector1"
          />
          <img
            alt="Vector1327"
            src="/assets/playground_assets/vector1327-44w.svg"
            class="login-page-vector2"
          />
          <img
            alt="Vector1327"
            src="/assets/playground_assets/vector1327-a8k.svg"
            class="login-page-vector3"
          />
        </div>
      </div>
    </div>
    <div class="login-page-facebook-button">
      <img
        alt="facebookic1327"
        src="/assets/playground_assets/facebookic1327-z5gf.svg"
        class="login-page-facebookic"
      />
    </div>
    <div class="login-page-apple-button">
      <img
        alt="cibapple1327"
        src="/assets/playground_assets/cibapple1327-uj3.svg"
        class="login-page-cibapple"
      />
    </div>
    <div class="login-page-loginwith1">
      <span class="login-page-text03"><span>Or Login with</span></span>
      <img
        alt="Line11327"
        src="/assets/playground_assets/line11327-5e36.svg"
        class="login-page-line1"
      />
      <img
        alt="Line21327"
        src="/assets/playground_assets/line21327-cqq.svg"
        class="login-page-line2"
      />
    </div>
  </div>
  <div class="login-page-login-buttonbutton"></div>
  <span class="login-page-text05"><span>Forgot Password?</span></span>
  <div class="login-page-enteryourpassword">
    <div class="login-page-fluenteye20filled">
      <div class="login-page-group">
        <img
          alt="Vector1327"
          src="/assets/playground_assets/vector1327-fnf7.svg"
          class="login-page-vector4"
        />
      </div>
    </div>
    <span class="login-page-text07"><span>Enter your password</span></span>
  </div>
  <div class="login-page-enteryouremailinput">
    <span class="login-page-text09"><span>Enter your email</span></span>
  </div>
  <div class="login-page-text11">
    <span class="login-page-text12">
      <span>Welcome back! Glad to see you, Again!</span>
    </span>
  </div>
  <div class="login-page-back">
    <img
      alt="backarrow1327"
      src="/assets/playground_assets/backarrow1327-21h.svg"
      class="login-page-backarrow"
    />
  </div>
  <div class="login-page-statusbar">
    <div class="login-page-right-side">
      <div class="login-page-battery">
        <img
          alt="Rectangle1327"
          src="/assets/playground_assets/rectangle1327-p9f9.svg"
          class="login-page-rectangle"
        />
        <img
          alt="CombinedShape1327"
          src="/assets/playground_assets/combinedshape1327-mnn.svg"
          class="login-page-combined-shape"
        />
        <img
          alt="Rectangle1327"
          src="/assets/playground_assets/rectangle1327-0jsq.svg"
          class="login-page-rectangle1"
        />
      </div>
      <img
        alt="Wifi1327"
        src="/assets/playground_assets/wifi1327-nx6t.svg"
        class="login-page-wifi"
      />
      <img
        alt="MobileSignal1327"
        src="/assets/playground_assets/mobilesignal1327-9aw.svg"
        class="login-page-mobile-signal"
      />
    </div>
    <div class="login-page-left-side">
      <img
        alt="TimeLightBase1327"
        src="/assets/playground_assets/timelightbase1327-qedi.svg"
        class="login-page-time-light-base"
      />
    </div>
  </div>
  <a href="https://tbcpay.ge" class="login-page-link button">
    <span class="login-page-text14"><span>Login</span></span>
  </a>
</div>
