:host { 
  display: contents; 
}
.login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-page-text {
  top: 765px;
  left: 41px;
  color: rgba(30, 35, 44, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text01 {
  color: rgba(30, 35, 44, 1);
  font-weight: 500;
}
.login-page-loginwith {
  top: 515px;
  left: 22px;
  width: 331px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-google-button {
  top: 39px;
  left: 113px;
  width: 105px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-googleic {
  top: 15px;
  left: 37px;
  width: 26px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-group123 {
  top: 1.1818181276321411px;
  left: 1.1818181276321411px;
  width: 23.63637351989746px;
  height: 23.636381149291992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-vector {
  top: 6.383145332336426px;
  left: 0px;
  width: 5px;
  height: 11px;
  position: absolute;
}
.login-page-vector1 {
  top: 9.6103515625px;
  left: 12.078003883361816px;
  width: 12px;
  height: 11px;
  position: absolute;
}
.login-page-vector2 {
  top: 14.283814430236816px;
  left: 1.4084585905075073px;
  width: 18px;
  height: 9px;
  position: absolute;
}
.login-page-vector3 {
  top: 0px;
  left: 1.3214665651321411px;
  width: 18px;
  height: 10px;
  position: absolute;
}
.login-page-facebook-button {
  top: 39px;
  left: 0px;
  width: 105px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-facebookic {
  top: 15px;
  left: 37px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.login-page-apple-button {
  top: 39px;
  left: 226px;
  width: 105px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-cibapple {
  top: 15px;
  left: 37px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.login-page-loginwith1 {
  top: 0px;
  left: 0px;
  width: 331px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-text03 {
  left: 124px;
  color: var(--dl-color-default-darkgray);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-line1 {
  top: 9px;
  left: 0px;
  width: 112px;
  height: 1px;
  position: absolute;
}
.login-page-line2 {
  top: 9px;
  left: 220px;
  width: 111px;
  height: 1px;
  position: absolute;
}
.login-page-login-buttonbutton {
  top: 427px;
  left: 22px;
  width: 331px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 56px;
  display: none;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(30, 35, 44, 1);
}
.login-page-text05 {
  top: 377px;
  left: 223px;
  color: var(--dl-color-default-darkgray);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: right;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-enteryourpassword {
  top: 306px;
  left: 22px;
  width: 331px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(246, 247, 248, 1);
}
.login-page-fluenteye20filled {
  top: 17px;
  left: 293px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-group {
  top: 5.308289527893066px;
  left: 2.2000808715820312px;
  width: 17.599918365478516px;
  height: 11.38341999053955px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-vector4 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 11px;
  position: absolute;
}
.login-page-text07 {
  top: 18px;
  left: 18px;
  color: var(--dl-color-default-gray);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-enteryouremailinput {
  top: 235px;
  left: 22px;
  width: 331px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(247, 248, 249, 1);
}
.login-page-text09 {
  top: 18px;
  left: 18px;
  color: var(--dl-color-default-gray);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text11 {
  top: 125px;
  left: 22px;
  width: 336px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-text12 {
  color: var(--dl-color-default-dark);
  width: 336px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-back {
  top: 56px;
  left: 22px;
  width: 41px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-backarrow {
  top: 11px;
  left: 10px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.login-page-statusbar {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-right-side {
  top: 17.3306884765625px;
  left: 293.6666564941406px;
  width: 66.661376953125px;
  height: 11.336018562316895px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-battery {
  top: 0.002685546875px;
  left: 42.333343505859375px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-rectangle {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
}
.login-page-combined-shape {
  top: 3.6666667461395264px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.login-page-rectangle1 {
  top: 1.9999998807907104px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
}
.login-page-wifi {
  top: 0px;
  left: 22.027069091796875px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.login-page-mobile-signal {
  top: 0.3359375px;
  left: 0px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.login-page-left-side {
  top: 12px;
  left: 20px;
  width: 54px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-time-light-base {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 21px;
  position: absolute;
}
.login-page-link {
  top: 427px;
  left: 22;
  width: 331px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: row;
  text-decoration: none;
  background-color: rgba(30, 35, 44, 1);
}
.login-page-text14 {
  top: 19px;
  left: 144px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
